@use 'base/variables' as v;
@use 'base/mixins' as m;

.clip {
    padding:0 2rem 0 2rem;
    &__h2 {

        @include m.telefono {
            font-size: 4rem;
        }
    }
    
    &__texto {
        @include m.telefono {
            text-align: start
        }
    }

    &__enlaces {
        padding-top: 3rem;
        
        @include m.telefono {
            @include m.flex(flex, row, space-evenly, center);
            gap: 2rem;
            width: 40%;
            margin: 0 auto;
            
         }
    }

    &__link1 {
        @include m.boton(v.$verde, v.$blanco);
        font-size: 1.4rem;
        width: 100%;
        transition: 300ms;

        &:hover {
            transform: scale(1.1);
        }
    }
    &__link2 {
        @include m.boton(v.$lila, v.$blanco);
        font-size: 1.4rem;
        width: 100%;
        transition: 300ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}