// fuentes

$fuentePrincipal: 'Roboto', sans-serif;

//  maedia querys

$telefono: 480px;
$tablet: 768px;
$desktop: 1024;

$negro: #000000;
$blanco: #ffffff;
$gris: #4e4e4e;
$grisClaro: #a09e9e;
$lila: hsl(228, 45%, 44%);
$verde: hsl(177, 71%, 46%);
$grisfooter: #e2e2e2;

